@model SATProject.DATA.EF.StudentStatus

@{
    ViewBag.Title = $"{Model.SSName} Details";
}

<div class="m-2">
    <div class="text-center">
        <h2>@ViewBag.Title</h2>
        <h4>StudentStatus</h4>
    </div>

    <div>
        <hr />
        <div class="text-center">
            <div>
                @Html.DisplayNameFor(model => model.SSName)
            </div>

            <div>
                @Html.DisplayFor(model => model.SSName)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.SSDescription)
            </div>

            <div>
                @Html.DisplayFor(model => model.SSDescription)
            </div>

        </div>
    </div>
    <div class="form-group row text-center">
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SSID }, new { @class = "btn btn-secondary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
