@model IEnumerable<SATProject.DATA.EF.StudentStatus>

@{
    ViewBag.Title = "Student Status";
}

<div class="m-2">
    <h2 class="text-center">@ViewBag.Title</h2>

    <div>
        <div class="row col-md-6">
            @Html.ActionLink("Create New", "Create")
            <div class="col-md-6 mb-2">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Tile View", "IndexTiles", "StudentStatus")
                }
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SSName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SSName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SSID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SSID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SSID })
                </td>
            </tr>
        }

    </table>
</div>
