@model SATProject.DATA.EF.Enrollment

@{
    ViewBag.Title = $"Delete {Model.Student.FullName} Enrollment ?";
}

<div class="m-2">
    <div class="text-center">
        <h2>@ViewBag.Title</h2>
        <h4>Enrollment</h4>
    </div>

    <div>
        <hr />
        <div class="text-center">
            <div>
                <b>@Html.DisplayNameFor(model => model.EnrollmentDate)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.EnrollmentDate)
            </div>

            <div>
                <b> @Html.DisplayNameFor(model => model.ScheduledClass.ClassInfo)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.ScheduledClass.ClassInfo)
            </div>

            <div>
                <b>@Html.DisplayNameFor(model => model.Student.FullName)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.Student.FullName)
            </div>

        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group row text-center">
                <div class="p-2">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
</div>
