@model SATProject.DATA.EF.Enrollment

@{
    ViewBag.Title = $"Details {Model.Student.FullName} Details";
}

<div class="m-2">
    <div class="text-center">
        <h2>@ViewBag.Title</h2>
        <h4>Enrollment</h4>
    </div>

    <div class="text-center">
        <hr />
        <div class="div-horizontal">
            <div>
                <b>@Html.DisplayNameFor(model => model.EnrollmentDate)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.EnrollmentDate)
            </div>

            <div>
                <b>@Html.DisplayNameFor(model => model.ScheduledClass.ClassInfo)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.ScheduledClass.ClassInfo)
            </div>

            <div>
                <b>@Html.DisplayNameFor(model => model.Student.FullName)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.Student.FullName)
            </div>

        </div>
    </div>
    <div class="form-group row text-center">
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentId }, new { @class = "btn btn-secondary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
