@model SATProject.DATA.EF.Course

@{
                /**/

                ViewBag.Title = $"Delete {Model.CourseName}?";
}

<div class="m-2">
    <div class="text-center">
        <h2>@ViewBag.Title</h2>
        <h4>Course</h4>
    </div>

    <div>

        <hr />
        <div class="text-center">
            <div>
                <b>@Html.DisplayNameFor(model => model.CourseName)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.CourseName)
            </div>

            <div>
                <b>@Html.DisplayNameFor(model => model.CourseDescription)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.CourseDescription)
            </div>

            <div>
                <b> @Html.DisplayNameFor(model => model.CreditHours)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.CreditHours)
            </div>

            <div>
                <b>@Html.DisplayNameFor(model => model.Curriculum)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.Curriculum)
            </div>

            <div>
                <b>@Html.DisplayNameFor(model => model.Notes)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.Notes)
            </div>

            <div>
                <b>@Html.DisplayNameFor(model => model.IsActive)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.IsActive)
            </div>

        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group row text-center">
            <div class="p-2">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
