@model SATProject.DATA.EF.ScheduledClass

@{
    ViewBag.Title = $"Delete {Model.Course.CourseName}";
}

<div class="m-2">
    <div class="text-center">
        <h2>@ViewBag.Title</h2>
        <h4>Scheduled Class</h4>
    </div>

    <div>

        <hr />
        <div class="text-center">
            <div>
                <b>
                    @Html.DisplayNameFor(model => model.StartDate)
                </b>
            </div>

            <div>
                @Html.DisplayFor(model => model.StartDate)
            </div>

            <div>
                <b>
                    @Html.DisplayNameFor(model => model.EndDate)
                </b>
            </div>

            <div>
                @Html.DisplayFor(model => model.EndDate)
            </div>

            <div>
                <b>
                    @Html.DisplayNameFor(model => model.InstructorName)
                </b>
            </div>

            <div>
                @Html.DisplayFor(model => model.InstructorName)
            </div>

            <div>
                <b>
                    @Html.DisplayNameFor(model => model.Location)
                </b>
            </div>

            <div>
                @Html.DisplayFor(model => model.Location)
            </div>

            <div>
                <b>@Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)</b>
            </div>

            <div>
                @Html.DisplayFor(model => model.ScheduledClassStatus.SCSName)
            </div>

            <div>
                <b>
                    @Html.DisplayNameFor(model => model.Cours.CourseName)
                </b>
            </div>

            <div>
                @Html.DisplayFor(model => model.Cours.CourseName)
            </div>

        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group row text-center">
                <div class="p-2">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
</div>
